/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
/* } */

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.navbar-start {
  max-width: 1140px;
  margin: 0 auto;
  /* height: 71px; */
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 48px; */
  margin: 30px auto;
}
.logo-image {
  display: block;
}
.home {
  color: rgb(37, 36, 50);
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  margin-left: 30px;
}
.shop {
  color: rgb(137, 135, 161);
  font-weight: 400;
  font-family: Inter;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  margin-left: 30px;
}
.about-us {
  color: rgb(137, 135, 161);
  font-weight: 400;
  font-family: Inter;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  margin-left: 30px;
}
.cart {
  color: black;
  font-weight: 400;
  font-family: Inter;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}
.cart-icon {
  width: 22px;
  height: 15px;

  margin-left: 30px;
}
.orange-color {
  color: rgb(233, 90, 8);
}
/* banner section part  */
main {
  max-width: 1140px;
  margin: 0 auto;
}
main > section {
  margin-top: 120px;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700;
  margin: 0px;
  display: inline;
}
.banner-description {
  font-size: 22px;
  font-weight: 400;
  font-family: Inter;
  color: rgba(0, 0, 0, 0.5);

  margin: 0px;
}

.banner-text {
  text-align: start;
}
.banner-start {
  display: flex;
  align-items: end;
  justify-content: center;
  max-width: 1140px;
  margin: 0 auto;
}
/* our plant part style  */
.our-plant-title {
  text-align: center;
  max-width: 1140px;
  margin: 0 auto;
}
.title-style {
  font-size: 50px;
  font-weight: 700;
  /* margin-top: 120px; */
  margin-bottom: 0;
}
/* .plant-subtitle {
  padding-left: 7.5rem;
  padding-right: 7.5rem;
} */

/* card section part  */
.card {
  width: 16.5rem;
}
.card-section {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  gap: 20px;
}
.card-img {
  width: 100%;
}
.lily {
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}
.usd {
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}
.cart-button {
  background-color: rgb(233, 90, 8);
  color: white;
  /* padding: 26px 50px 26px 50px; */
  font-size: 1rem;
  font-weight: 600;
  font-family: Inter;
  width: 270px;
  height: 50px;
  cursor: pointer;
  text-align: center;
}

/* responsive media query */
@media screen and (max-width: 576px) {
  .navbar {
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
  }
  .home,
  .shop,
  .about-us {
    display: none;
  }
  .logo-image {
    height: 30%;
  }

  .banner-start {
    flex-direction: column-reverse;
  }
  .banner-text {
    margin-top: 28px;
    text-wrap: none;
    margin-left: 5px;
    margin-right: 5px;
  }
  .banner-title {
    display: inline;
  }
  .plant-subtitle {
    padding: 1rem 1.5rem 0rem 1.5rem;
    text-align: center;
  }
  .card-section {
    grid-template-columns: repeat(2, 4fr);
    row-gap: 10px;
    column-gap: 10px;
    margin-top: 28px;
  }
  .card {
    width: 10.5rem;
    margin-left: 20px;
  }
  .cart-button {
    width: 10.5rem;
  }
  .card-hide {
    display: none;
  }
}
