/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
/* } */

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.navbar-start {
  max-width: 1140px;
  margin: 0 auto;
  /* height: 71px; */
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 48px; */
  margin: 30px auto;
}
.logo-image {
  display: block;
}
.home {
  color: rgb(37, 36, 50);
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  margin-left: 30px;
}
.shop {
  color: rgb(137, 135, 161);
  font-weight: 400;
  font-family: Inter;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  margin-left: 30px;
}
.about-us {
  color: rgb(137, 135, 161);
  font-weight: 400;
  font-family: Inter;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  margin-left: 30px;
}
.cart {
  color: black;
  font-weight: 400;
  font-family: Inter;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}
.cart-icon {
  width: 22px;
  height: 15px;

  margin-left: 30px;
}
.orange-color {
  color: rgb(233, 90, 8);
}
/* banner section part  */
main {
  max-width: 1140px;
  margin: 0 auto;
}
main > section {
  margin-top: 120px;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700;
  margin: 0px;
  display: inline;
}
.banner-description {
  font-size: 22px;
  font-weight: 400;
  font-family: Inter;
  color: rgba(0, 0, 0, 0.5);
  margin: 0px;
}

.banner-text {
  text-align: start;
}
.banner-start {
  display: flex;
  align-items: end;
  justify-content: center;
  max-width: 1140px;
  margin: 0 auto;
}
/* our plant part style  */
.our-plant-title {
  text-align: center;
  max-width: 1140px;
  margin: 0 auto;
}
.title-style {
  font-size: 50px;
  font-weight: 700;
  /* margin-top: 120px; */
  margin-bottom: 0;
}
/* .plant-subtitle {
  padding-left: 7.5rem;
  padding-right: 7.5rem;
} */

/* card section part  */
.card {
  width: 16.5rem;
}
.card-section {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  gap: 20px;
}
.card-img {
  width: 100%;
}
.lily {
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}
.usd {
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}
.cart-button {
  background-color: rgb(233, 90, 8);
  color: white;
  /* padding: 26px 50px 26px 50px; */
  font-size: 1rem;
  font-weight: 600;
  font-family: Inter;
  width: 16.8rem;
  height: 50px;
  cursor: pointer;
  text-align: center;
}
/* plant and flower lover section  */

.lover-title {
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 20px;
}
.para-gap {
  margin-bottom: 15px;
}
.image img {
  width: 33rem;
  height: auto;
  display: block;
}
.image-desc-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.badge-image {
  position: absolute;
  margin-top: -550px;
  margin-left: 42%;
  transform: translateX(-50%);
  z-index: 10;
  height: 286px;
  width: 286px;
}
/* latest deals section  */

.deal-title {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}
.deal-subtile {
  font-size: 1.5rem;
  font-family: Inter;
  font-weight: 400;
  text-align: center;
  margin-left: 126px;
  margin-right: 126px;
  color: rgba(0, 0, 0, 0.5);
}

/* latest deal image  */
.deal-image {
  position: relative;
  width: 360px;
  height: 206px;
  background-image: url(assets/deal-bloom.png);
  border-radius: 10px;
}
.bloom {
  width: 360px;
  height: 206px;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.bloom h4 {
  color: white;
  font-weight: 700;
  font-size: 1.25rem;
  text-align: center;
  align-items: center;
  margin: 0;
}
.bloom a {
  color: white;
  text-align: center;
}
.ana h4 {
  color: white;
  font-weight: 700;
  font-size: 1.25rem;
  text-align: center;
  align-items: center;
  margin: 0;
}
.ana a {
  color: white;
  text-align: center;
}
.deal-image2 {
  position: relative;
  width: 360px;
  height: 206px;
  background-image: url(assets/deal-ana.png);
  border-radius: 10px;
  margin-top: 10px;
}
.zabo {
  width: 750px;
  height: 420px;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.zabo h4 {
  color: white;
  font-weight: 700;
  font-size: 1.25rem;
  text-align: center;
  align-items: center;
  margin: 0;
}
.zabo a {
  color: white;
  text-align: center;
}
.deal-image3 {
  position: relative;
  width: 750px;
  height: 420px;
  background-image: url(assets/deal-zabo.png);
  border-radius: 10px;
}
.latest-deal-img-section {
  display: flex;
  gap: 28px;
}
/* join section  */
.join h3 {
  color: white;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  align-items: center;
  margin-bottom: 20px;
}
.join-box {
  position: relative;
}
.join-box input {
  width: 40rem;
  height: 3rem;
  border: none;
  padding-left: 8px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.join-box button {
  width: 11.5rem;
  height: 3rem;
  border: none;
  background-color: #e95a08;
  padding-left: 8px;
  position: absolute;
  color: white;
}
.join {
  width: 100%;
  height: 420px;
  background-color: rgba(7, 51, 79, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.join-image {
  position: relative;
  width: 100%;
  height: 420px;
  background-image: url(assets/news-letter-bg.png);
}
.join-section {
  width: 100%;
  margin-top: 120px;
}

/* footer section  */
.footer {
  max-width: 1140px;
  margin: 0 auto;
}
.footer-logo p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.25rem;
  font-family: Inter;
  font-weight: 400px;
}
/* footer section  */
.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 110px;
  margin-top: 50px;
}
.footer-anchor {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  gap: 30px;
}
.anchor {
  text-decoration: none;
  color: #6b7280;
}
.footer-icon {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}
.icon-size {
  padding: 9px 8px;
}
/* responsive media query */
@media screen and (max-width: 576px) {
  .navbar {
    align-items: center;
  }
  .home,
  .shop,
  .about-us {
    display: none;
  }
  .logo-image {
    height: 30%;
  }

  .banner-start {
    flex-direction: column-reverse;
  }
  .banner-text {
    margin-top: 28px;
  }
  .banner-title {
    display: inline;
  }
  .plant-subtitle {
    padding: 1rem 1.5rem 0rem 1.5rem;
    text-align: center;
  }
  .card-section {
    grid-template-columns: repeat(2, 4fr);
    row-gap: 10px;
    column-gap: 10px;
    margin-top: 28px;
  }
  .card {
    width: 10.5rem;
    /* margin-left: 20px;  */
  }
  .cart-button {
    width: 10.5rem;
  }
  .card-hide {
    display: none;
  }

  .image img {
    width: 100%;
  }
  .banner-description {
    padding: 0;
  }

  .lover-title {
    font-size: 2rem;
  }
  .mobile-hide {
    display: none;
  }
  .deal-subtile {
    margin-left: auto;
    margin-right: auto;
  }
  .badge-image {
    display: none;
  }
  .latest-deal-img-section {
    flex-direction: column;
    gap: 0;
  }
  .zabo {
    width: 100%;
    height: 177px;
  }
  .deal-image3 {
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-left: auto;
  }
  .bloom {
    width: 100%;
    height: 200px;
  }
  .deal-image {
    width: 100%;
    height: auto;
  }
  .cart-button {
    width: 100%;
  }
  .ana {
    width: 100%;
    height: 200px;
  }
  .deal-image2 {
    width: 100%;
    height: auto;
  }
  .join h3 {
    font-size: 1rem;
  }
  .join-box {
    position: static;
    margin-right: 60px;
  }
  .join-box input {
    width: 13rem;
    height: 3rem;
    position: static;
  }
  .join-box button {
    width: 6rem;
    height: 3rem;
  }
  .footer-logo p {
    padding-right: 16px;
  }
  .footer {
    grid-template-columns: 1fr;
    gap: 0px;
    margin-top: 20px;
  }
  .image-desc-container {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .container {
    width: 100%;
  }
}
